<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	
	<!-- jQuery -->
    <script type="text/javascript" src="/vendor/jQuery/dist/jQuery.min.js"></script>


    <!-- Bootstrap files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    
	<!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" /> -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<!-- Customized style -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	
    <!-- Parse.com library -->
    <script type="text/javascript" src="/vendor/parse/parse.min.js"></script>

	<!-- GoogleMaps library -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

	<script type="text/javascript" src= "/javascripts/MapModule.js"></script>
	<script type="text/javascript" src="/javascripts/Event.js"></script>
  </head>
  <body>
  </body>
</html>
