<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jQuery/dist/jQuery.min.js"></script>

    <!-- Bootstrap files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" /> -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Parse.com library -->
    <script type="text/javascript" src="/vendor/parse/parse.min.js"></script>

	<script type="text/javascript" src="/javascripts/ListUtilities.js"></script>
    <script type="text/javascript" src="/javascripts/HelloVineCache.js"></script>
  </head>
  <body>
  </body>
</html>
